<main class="container">

  <!-- floating button - START -->
  <div class="position-fixed bottom-0 start-50 translate-middle-x mb-5 max-z-index d-grid">
    <a [href]="'tel:' + phoneNumber" class="w-100">
      <button type="button" class="btn btn-primary btn-lg rounded-pill py-2 w-100">
        <span class="bi bi-telephone me-3"></span>{{ phoneNumber }}
      </button>
    </a>
  </div>

  <!-- floating button - END -->

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Painting Services In Bangalore</h1>
      <p class="lead my-3">Best Home Painting Services with assured quality standards in Bangalore (Bengaluru).</p>
      <a [href]="'tel:' + phoneNumber" class="btn btn-success w-100">
          Book a house visit now!
      </a>
    </div>
  </div>

  <!-- Services - START -->
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column">
          <strong class="d-inline-block mb-2 text-primary">Interior Painting</strong>
          <p class="card-text mb-auto">Refresh your living space with our expert interior painting services. From a
            single room to your entire home, we deliver flawless finishes that enhance your home's style and comfort.
            Trust us for all your home painting needs.</p>
        </div>
        <div class="col-auto">
          <svg class="bd-placeholder-img img-fluid" width="100vw" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Near Me Painter" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Near Me Painter</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Loading...</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column">
          <strong class="d-inline-block mb-2 text-primary">Exterior Painting</strong>
          <p class="mb-auto">Enhance your home's curb appeal with our expert exterior painting services. We deliver
            durable, weather-resistant finishes that protect and beautify your home.</p>
        </div>
        <div class="col-auto">
          <svg class="bd-placeholder-img img-fluid" width="100vw" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Near Me Painter" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Near Me Painter</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Loading...</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column">
          <strong class="d-inline-block mb-2 text-primary">Water Proofing</strong>
          <p class="card-text mb-auto">Protect your home from leaks and moisture with our professional waterproofing
            services. We ensure long-lasting protection for walls, roofs, and basements, keeping your home dry and
            secure.</p>
        </div>
        <div class="col-auto">
          <svg class="bd-placeholder-img img-fluid" width="100vw" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Near Me Painter" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Near Me Painter</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Loading...</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col p-4 d-flex flex-column">
          <strong class="d-inline-block mb-2 text-primary">Rental Painting</strong>
          <p class="mb-auto">Get your property ready for new tenants with our quick and affordable rental painting
            services. We deliver fresh, clean finishes that attract renters and maximize your property's appeal.</p>
        </div>
        <div class="col-auto">
          <svg class="bd-placeholder-img img-fluid" width="100vw" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Near Me Painter" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Near Me Painter</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">Loading...</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- Services - END -->

  <p class="ms-2"><strong>We provide all types of painting services with budget friendly cost!</strong> </p>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Home Interior/Exterior Painting</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>Single Wall Painting</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>
          Designer Walls</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td> Wall Textures</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>
          Wallpapers</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>False Ceiling</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>Flooring</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>
          Wood Coatings
        </td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>Metal Coatings</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
      <tr>
        <td>Home Finishing</td>
        <td><i class="bi bi-check2-all text-success"></i></td>
      </tr>
    </tbody>
  </table>

  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post ms-2">

        <!-- Our Promise - START -->
        <h3 class="mt-3"><strong>Our Promise <i class="bi bi-hand-thumbs-up" style="color: goldenrod;"></i></strong>
        </h3>
        <ul class="container list-group">
          <li class="list-group-item">
            <i class="bi bi-check-circle-fill text-success pe-2"></i>
            Trained and Verified Technicians
          </li>
          <li class="list-group-item">
            <i class="bi bi-check-circle-fill text-success pe-2"></i>
            Affordable and Transparent Pricing
          </li>
          <li class="list-group-item">
            <i class="bi bi-check-circle-fill text-success pe-2"></i>
            Good Quality Product Usage
          </li>
          <li class="list-group-item">
            <i class="bi bi-check-circle-fill text-success pe-2"></i>
            Quick Service at your Doorstep
          </li>
          <li class="list-group-item">
            <i class="bi bi-check-circle-fill text-success pe-2"></i>
            Same Day Service
          </li>
        </ul>
        <!-- Our Promise - END -->
        <hr>

        <!-- Frequently Asked questions - Accordion - START -->
        <h3 class="mt-3"><strong>Frequently asked questions</strong></h3>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Which types of painting services that we do?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We take all types of painting services
                <ul class="container list-group-flush">
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Wall Textures
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Wall Papers
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Water Proofing
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Wood Coatings
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Metal Coatings
                  </li>
                  <li class="list-group-item">
                    <i class="bi bi-arrow-right-short text-success pe-2"></i>
                    Designer Walls
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                How long does a typical painting project take?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> Most projects take 2-5 days, depending on the size and complexity of the job.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                Do I need to move my furniture before painting?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> Yes, we recommend moving or covering furniture to protect it during the
                painting process.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                What type of paint do you use?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We use high-quality, durable paints from trusted brands, suitable for your
                specific needs.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                How do you prepare surfaces before painting?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">We clean, sand, and prime surfaces as needed to ensure a smooth, long-lasting
                finish.</div>
            </div>
          </div>
        </div>
        <!-- Frequently Asked questions - Accordion - END -->

        <!-- Blog - START -->
        <hr>
        <article class="blog-post">
          <h3><strong>About Painting Services</strong>
          </h3>

          <div class="text-secondary justify-text">
            <blockquote>
              <p>We offer a wide range of services, including interior and exterior painting, waterproofing, rental
                painting, and more. Our focus is on using premium materials and innovative techniques to meet your
                specific needs, all while respecting your time and budget. Trust us to bring your vision to life with
                precision, care, and a dedication to excellence.</p>
            </blockquote>
          </div>

          <h4>How it Works?</h4>
          <ol class="text-secondary justify-text ">
            <li>
              <p><strong>Book a Visit: </strong>Schedule a convenient time for us to visit your property. We’ll discuss
                your needs and goals to ensure we understand your vision.</p>
            </li>
            <li>
              <p><strong>On-Site Consultation: </strong>During our visit, we’ll assess the site, recommend suitable
                products, and provide expert advice to help you achieve the best results.</p>
            </li>
            <li>
              <p><strong>Choose Your Colors: </strong>We’ll guide you through the color selection process, offering
                samples and suggestions to find the perfect shades for your space.</p>
            </li>
            <li>
              <p><strong>Start Date Confirmation: </strong>Once everything is set, we’ll confirm the start date for the
                project, ensuring all preparations are complete.</p>
            </li>
            <li>
              <p><strong>Painting in Progress: </strong>Our skilled painters will execute the work efficiently and with
                care, keeping your space clean and respecting your time.</p>
            </li>
            <li>
              <p><strong>Final Walkthrough: </strong>After completing the project, we’ll conduct a final walkthrough
                with you to ensure everything meets your expectations before handing over the site.</p>
            </li>
          </ol>
          <h4 class="mt-3">The cost of home painting services in Bangalore can vary based on several key factors</h4>
          <ol class="text-secondary justify-text">
            <li>
              <p>Home Size and Type:
                The overall cost is influenced by the size and type of your residence, whether it’s an apartment or a
                villa.
              </p>
            </li>
            <li>
              <p>Paint Quality and Type:
                The quality and type of paint you choose can have a significant impact on the total cost, as different
                paints come with different price tags.</p>
            </li>
            <li>
              <p>Number of Coats Needed:
                If your project involves darker colors or special finishes, more coats of paint may be required, which
                can increase the cost.</p>
            </li>
            <li>
              <p>Wall Condition:
                The condition of your walls, including any necessary repairs or preparation, can affect the total price
                of the painting services.</p>
            </li>
            <li>
              <p>Additional Services:
                Opting for specialized house painting services like texture painting or stenciling may add to the cost,
                but these services also provide a distinctive aesthetic to your home.</p>
            </li>
          </ol>

        </article>

        <!-- Blog - START -->
      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About Us</h4>
          <p class="mb-0 justify-text ">We specialize in providing top-notch painting services that transform your space
            into something extraordinary. With years of experience, our skilled team is committed to delivering
            high-quality workmanship and exceptional customer service. Whether it’s a full home makeover or a quick
            refresh, we take pride in every stroke, ensuring a smooth, flawless finish that enhances the beauty and
            value of your property.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Quickest Service Areas</h4>
          <ol class="list-unstyled mb-0">
            <li>Arekere</li>
            <li>Banashankari</li>
            <li>Bannerghatta Main Road</li>
            <li>Begur</li>
            <li>Bellandur</li>
            <li>BTM Layout</li>
            <li>Channasandra</li>
            <li>CV Raman Road</li>
            <li>Domlur</li>
            <li>Electronic City</li>
            <li>HAL Road</li>
            <li>Hebbal</li>
            <li>Hegde Nagar</li>
            <li>HSR Layout</li>
            <a data-bs-toggle="collapse" href="#collapseAreaList" aria-expanded="false" aria-controls="collapseAreaList"
              class="stretched-link">View All</a>
            <div class="collapse multi-collapse" id="collapseAreaList">
              <li>Hulimavu</li>
              <li>Hoodi</li>
              <li>Indiranagar</li>
              <li>Jakkur</li>
              <li>Jalahalli</li>
              <li>Jayanagar 1st Stage</li>
              <li>Jayanagar 2nd Stage</li>
              <li>Jayanagar 3rd Stage</li>
              <li>Jayanagar 4th Stage</li>
              <li>Jayanagar 5th Stage</li>
              <li>Jp Nagar</li>
              <li>Kadubeesanahalli</li>
              <li>Kadugodi</li>
              <li>Kengeri</li>
              <li>Kothanur</li>
              <li>Koramangala</li>
              <li>KR Puram</li>
              <li>Kudlu</li>
              <li>Kumaraswamy Layout</li>
              <li>Mahadevapura</li>
              <li>Marathahalli</li>
              <li>MG Road</li>
              <li>Nagasandra</li>
              <li>Nagarbhavi</li>
              <li>Nayanahalli</li>
              <li>New Town Yelahanka</li>
              <li>Old Madras Road</li>
              <li>Peenya</li>
              <li>Sahakar Nagar</li>
              <li>Satellite Road</li>
              <li>Subbut Katte</li>
              <li>Varthur</li>
              <li>Vidyaranyapura</li>
              <li>Vijayanagar</li>
              <li>Whitefield</li>
              <li>Yelahanka</li>
            </div>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>